# CloudFormation Generic Parameters

## AWS PROFILE TO USE
AwsProfile=default

## Global parameters
StackName=openvpn


# SimpleAD CloudFormation parameters

## Important parameters and their default values
SimpleADName=
SimpleADShortName=
SimpleADPassword=
SimpleADDnsZone=
SimpleADDnsRecord=

SimpleADSize=Small
SimpleADEnableSso=false
SimpleADNewVpc=new

## Mandatory parameters if "NewVpc" is set to "existing"
SimpleADVpcId=""									# if "NewVpc" is set to "new", then set this value equal to ""
SubnetIdsPrivate=""								# if "NewVpc" is set to "new", then set this value equal to ""
SubnetIdsPublic=""								# if "NewVpc" is set to "new", then set this value equal to ""

## Default parameters if "NewVpc" is set to "new"
SimpleADVPCSubnetCidrBlock=172.20.0.0/16
SimpleADAvailabilityZone1=a
SimpleADAvailabilityZone2=b
SimpleADAvailabilityZone3=c
SimpleADPublicSubnetCidrBlock1=172.20.0.0/20
SimpleADPublicSubnetCidrBlock2=172.20.16.0/20
SimpleADPublicSubnetCidrBlock3=172.20.32.0/20
SimpleADPrivateSubnetCidrBlock1=172.20.48.0/20
SimpleADPrivateSubnetCidrBlock2=172.20.64.0/20
SimpleADPrivateSubnetCidrBlock3=172.20.80.0/20
SimpleADRemoteCidrForSecurityGroup=172.20.0.0/16
SimpleADRemoteCidrForPublicAcl=0.0.0.0/0
SimpleADAllowAllInboundPublicRuleNumber=100
SimpleADAllowAllInboundPrivateRuleNumber=100
SimpleADAllowAllOutboundPublicRuleNumber=100
SimpleADAllowAllOutboundPrivateRuleNumber=100

## Jumpbox parameters and their default values
SimpleADJumpbox=true
SimpleADJumpboxAmi=ami-04ca2d0801450d495
SimpleADJumpboxType=public-ip
SimpleADJumpboxInstanceType=t2.medium

SimpleADJumpboxKeyPair=



# OpenVPN CloudFormation parameters

## Important parameters and their default values
OpenVPNSslLoadBalancer=
OpenVPNDnsRecord=
OpenVPNDnsZone=
OpenVPNEnableMfa=

OpenVPNOpsWorksStackName=OpenVPN
OpenVPNCookbookUrl=https://github.com/netbears/opsworks-openvpn/releases/download/v1.0.0/cookbooks-v1.0.0.tar.gz
OpenVPNVersion=2.7.4
OpenVPNInstanceType=c5.large
OpenVPNInstanceRootVolumeSize=50

## Parameters used to bind to LDAP
OpenVPNLdapBindDn=
OpenVPNLdapBindPassword=
OpenVPNLdapUsersBaseDn=
OpenVPNLdapGroupVPNRequirement=
OpenVPNLdapAdminUsername=

## Parameters used to set network requirements
OpenVPNClientNetmask=20
OpenVPNClientNetwork=172.20.112.0
OpenVPNPrivateNetworkAccess1=172.20.0.0/16
OpenVPNPrivateNetworkAccess2=172.17.0.0/16
OpenVPNPrivateNetworkAccess3=172.23.0.0/16
OpenVPNWebPort=443
OpenVPNClientsTalkEachOther=false
OpenVPNRouteInternetTraffic=false
OpenVPNDaemonListenPort=80
OpenVPNDaemonListenProtocol=tcp

